name: "Create release"

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  validate_modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - ./
          - examples/iam
          - examples/server
          - examples/storage
    name: "Validate ${{ matrix.module }} module"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
        id: setup
        with:
          working-directory: '${{ matrix.module }}'

  create_release:
    name: "Create GitHub release"
    runs-on: ubuntu-latest
    needs: [ validate_modules ]
    permissions:
      contents: write
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
