name: "Create release"

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  validate_main_module:
    runs-on: ubuntu-latest
    name: "Validate module"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup

  validate_example_module:
    runs-on: ubuntu-latest
    name: "Validate example module"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
        with:
          working-directory: 'example'

  create_release:
    name: "Create GitHub release"
    runs-on: ubuntu-latest
    needs: [ validate_main_module, validate_example_module ]
    permissions:
      contents: write
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
