name: "Pull Request"

on:
  pull_request:
    branches:
      - master

jobs:
  validate_modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - ./
          - examples/iam
          - examples/server
    name: "Validate ${{ matrix.module }} module"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
        id: setup
        with:
          working-directory: '${{ matrix.module }}'