name: "Validate Terraform modules"

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  validate_modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - ./
          - modules/iam
          - modules/storage
          - examples/iam
          - examples/server
          - examples/storage
    name: "Validate ${{ matrix.module }} module"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
        id: setup
        with:
          working-directory: '${{ matrix.module }}'